body{
	background:white;
}

header, #contenedor,footer{
	width: 80%;
	max-width: 1500px;
	margin:20px auto;
}
header{
	width: 98%;
	background: black;
	color: #fff;
	display: inline-block;
	padding: 10px;
}
#logo{
	width: 25%;
	background: black;
	display: inline-block;
	vertical-align: middle;
	float: left;
}
#wrap{
	clear:both;
	width: 20%;
	float: left;
	position: fixed;
	top: 180px;
}
#widget{
	width: 100%;
	
}
#widget p{
	display: inline-block;
	vertical-align: middle;
	}
#fecha {
	font-family: Rosarivo, verdana;
	text-align: center;
	font-size: 16px;
	background: rgba(0,0,0,.5);
	margin-bottom:5px;
	padding: 2px;
}
#reloj {
	font-family: Rosarivo, verdana;
	text-align: center;
	font-size: 20px;
	background: rgba(0,0,0,.5);
	margin-bottom:5px;
	padding: 2px;
}
#cajasegundos{
	display: inline-block;
}
#titulo{
	width: 70%;
	height: 100px;
	background: url(../img/team.jpg);
	color: red;
	font-weight: bold;
	font-size: 300%;
	text-align: center;
	float: right;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2%;
}
#menu{
	width: 70%;
	text-align: center;
	float: right;
	padding:2%;
	font-size: 100%;
}

#menu a{
	background: #fff;
	margin: 0.5%;
}
#contenido{
	width: 76%;
	background:#087AA1;
	float:left;
	padding: 10px;
	font-family: verdana;
	font-size: 16px;
	text-align: justify;
	display: inline-block;
	box-sizing:border-box;
}
#sergio, #imagen{
	width: 30%;
	float: left;
	margin: 5px;
	
}
table {
	border: 1px solid #000;
	width: 90%
}
table td {
	border: 1px solid #000;	
}
table tr:hover{
	background: #ccc;
}
table td:hover{
	background: yellow;
	color:black;
}
#intro{
	background: #000;
	color: #fff;
}
h2 {
	text-align: center;
}
#sede{
	width: 76%;
	background: #24AAD7;
	float:left;
	padding: 10px;
	text-align: justify;
	font-family: verdana;
	font-size: 16px;
	box-sizing:border-box;
}
#sede img {
	width: 90%;
}
#SKY{
	width: 76%;
	background: #24AAD7;
	float:left;
	padding: 10px;
	text-align: justify;
	font-family: verdana;
	font-size: 16px;
	box-sizing:border-box;
}
#PRIMERA, #amarillo{
	width: 20%;
	float: right;
	margin: 5px;
}
aside{
	width:24%;
	background: #055069;
	text-align: justify;
	display: inline-block;
	padding: 1%;
	font-family: verdana;
	font-size: 16px;
	box-sizing:border-box;
}
aside a{
	color:#fff;
	font-size: 18px;
}
footer{
	background: #000;
	color:#fff;
	width: 100%;
	margin: 20px 0; 
	font-family: verdana;
	font-size: 11px;
	text-align: center;

	overflow: hidden;
}
@media screen and (max-width: 800px){
	#contenido, #sede{
		width: 100%;
	}
	#titulo {
		display: none;
	}
	aside{
		width: 100%;
	}
}
